@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
	margin: 0%;
	padding: 0%;
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #e2dfda;
}
body::-webkit-scrollbar {
	width: 11px;
}

body::-webkit-scrollbar-thumb {
	background: #a9d9d0;
	height: 5px;
}

/* header configurations */
header {
	width: 100%;
	height: 100vh;
	background-image: url(./img/header-img-DOS.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.nav_header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #262524;
	width: 100%;
	height: 10vh;
	text-align: center;
	gap: 30vh;
	border-radius: 0 0 20% 20%;
}

.nav-menu {
	display: flex;
	gap: 7vh;
}

.about-us_nav,
.catalog_nav,
.newsletter_nav {
	text-decoration: none;
	color: #ffff;
}

.rrss_header {
	display: flex;
	gap: 3vh;
}

.img-logo_header,
.pinterest-rrss_header,
.amazon-rrss_header {
	width: 40px;
	height: 40px;
}

.title_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
	gap: 10vh;
}
h1 {
	font-size: 4.9rem;
	font-weight: 600;
	color: #ffff;
	text-shadow: 0 0 25px #2d3233;
}

h2 {
	color: #ffff;
	font-weight: 400;
	font-size: 1.9rem;
	text-shadow: 0 0 25px #2d3233;
}

.sub-title_header {
	font-size: 1.7rem;
	font-weight: 500;
	color: #ffff;
}

/* Mission section */
.about-us {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}
.description_about-us {
	width: 55%;
}

.title_about-us {
	font-weight: 900;
	font-size: 3rem;
	color: #38bed7;
	text-align: center;
	margin-bottom: 6vh;
}

.text_about-us {
	text-align: justify;
	font-size: 1.4rem;
	color: #2d3233;
	font-family: 'Roboto', sans-serif;
}

.img_mom-daugther {
	background-image: url(./img/mom-daugther.jpg);
	background-size: cover;
	width: 60vh;
	height: 60vh;
	border-radius: 50%;
	box-sizing: content-box;
}

/* Latest Release section */
.latest-release {
	height: 100vh;
	background: linear-gradient(
		#262524 0%,
		#262524 50%,
		#e2dfda 50%,
		#e2dfda 100%
	);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 0 25vh;
}

.book_latest-release {
	background-image: url(./img/portada.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 47vh;
	height: 60vh;
}

.desc_latest-release {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10%;
	margin-left: 5%;
}

.title_latest-release {
	font-size: 2rem;
	color: #e2dfda;
}

.buy_latest-release {
	margin: 15px 0;
	font-size: 1.5rem;
}
.buy-latest {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #262524;
	padding: 10px;
	background-color: #e2dfda;
	border: 1px solid #2d3233;
}
/* Banner section */
.banner {
	height: 30vh;
	background-color: #a9d9d0;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0 5%;
}

.title_banner {
	font-size: 2rem;
	font-weight: 800;
	font-family: 'Roboto', sans-serif;
	color: #00be9c;
}

.banner_leyenda {
	font-size: 1.5rem;
	color: #262524;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}
	to {
		opacity: 1;
		scale: 100%;
	}
}

.img_mom-daugther,
.title_about-us,
.text_about-us,
.banner_leyenda,
.title_banner {
	view-timeline-name: --blocks;
	view-timeline-axis: block;
	animation-timeline: --blocks;
	animation-name: show;
	animation-fill-mode: both;
	animation-range: entry 25% cover 50%;
}
/* Collection books */
.collection_books {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card_book {
	width: 47vh;
	height: 63%;
	margin: 0 5vh;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #000;
	overflow: hidden;
	transition: transform 0.3s ease;
}

.aec_book {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: transform 0.3s ease;
}
.card_book:hover {
	transform: scale(1.3);
}

.comming-soon {
	font-size: 1.8rem;
	font-weight: 800;
	color: #e2dfda;
}

.left_book,
.right_book {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00be9c;
}

.cancel_button {
	position: absolute;
	top: 5vh;
	right: 7vh;
	width: 5vh;
	height: 6vh;
	border-radius: 4vh 2vh 4vh 2vh;
	background-color: #93d94e;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	color: #e2dfda;
	cursor: pointer;
}

.cursiva_book {
	background-color: #00adef;
	border-radius: 5vh;
	display: none;
	height: 85%;
	width: 75%;
	position: absolute;
	overflow: hidden;
}
.carrusel {
	width: 40%;
	overflow: hidden;
}

.slider {
	width: 100%;
	height: 100%;
}

.cursiva_book_pages {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.nav_button {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 40%;
	bottom: 50%;
}

.button_nav-imgs {
	height: 5vh;
	width: 5vh;
	border: none;
	border-radius: 50%;
	background-color: #00be9c;
	margin: 0 1vh;
}

.leyend_cursiva {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5vh;
	width: 60%;
}

.title_leyend-cursiva {
	font-size: 1.6rem;
	color: #ffea00;
	font-weight: 700;
	padding: 0 6vh;
	text-shadow: 1px 1px 3px #2d3233;
}

.text_leyend-cursiva {
	padding: 0 6vh;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
}

.buy_amazon {
	text-align: center;
	text-decoration: none;
	color: #262524;
	background-color: #ffea00;
	box-shadow: 0px 0px 10px #2d3233;
	border-radius: 3vh;
	padding-top: 2vh;
	width: 25%;
	height: 5vh;
	font-weight: 600;
}
.buy_amazon:hover {
	background-color: #93d94e;
}

/* Newsletter form  */
.newsletter {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;
}

.title-container_newsletter {
	width: 39%;
	height: 13vh;
	background-color: #38bed7;
	border-radius: 5vh;
	text-align: center;
}

.title_form {
	font-size: 1.2rem;
	font-weight: 700;
	color: #2d3233;
	padding: 5vh 0;
}

.subtitle_form {
	font-size: 1.1rem;
	font-weight: 400;
	margin: 5vh 0;
}
.form_newsletter {
	width: 70%;
	display: grid;
	justify-items: center;
	gap: 3vh;
}

.input_form {
	border: none;
	border-radius: 2vh;
	height: 5vh;
	width: 45%;
	padding: 1.5vh 5vh;
}

.check_input {
	margin: 3vh 0;
}

.button_form {
	width: 20%;
	height: 8vh;
	border: none;
	border-radius: 3vh;
	background-color: #00be9c;
	font-size: 1rem;
	font-weight: 600;
}

/* foote config */
footer {
	height: 60vh;
	display: flex;
}

.title_footer {
	font-size: 2.3rem;
	font-weight: 600;
	color: #38bed7;
	font-family: 'Roboto', sans-serif;
	padding-top: 5vh;
	padding-left: 15vh;
}

.info_footer {
	font-size: 1.3rem;
	font-family: 'Roboto', sans-serif;
	width: 75%;
	padding-top: 5vh;
	padding-left: 15vh;
}

.amazon_link {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #0b355d;
}

.editorial_footer {
	font-family: 'Roboto', sans-serif;
	padding-top: 5vh;
	padding-left: 15vh;
}

.rrss_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.pinterest_rrss {
	width: 10vh;
	height: 10vh;
}

.pinterest-follow_rrss {
	font-size: 0.7rem;
}
