.footer_container {
  min-height: 40vh;
  display: flex;
  padding: 60px 50px;
  background: #33312c;
}
.footer_info {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.footer_leyend {
  font-size: 1.2em;
  font-weight: 300;
  color: #f2f2f2;
  text-align: left;
  width: 80%;
  padding-bottom: 20px;
}

.footer_registration {
  color: #f2f2f2;
  font-weight: lighter;
}

.footer_rrss {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 40%;
}

@media screen and (max-width: 430px) {
  .footer_container {
    padding: 20px 30px;
    flex-direction: column;
  }
  .footer_info {
    width: 100%;
  }
  .footer_leyend {
    font-size: 1em;
    width: 100%;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 10px;
  }

  .footer_registration {
    font-size: 0.8em;
  }
  .footer_rrss {
    width: 100%;
    padding-top: 20px;
  }
}
